html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure this is correct */
  border: 1px solid red; /* Temporary border for debugging */
}