html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure this is correct */
  border: 1px solid red; /* Temporary border for debugging */
}

.custom-timeline.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns::before {
  display: none; /* Hide the timeline line */
}

.profile-container {
  display:flex;
  align-items:center;
  margin:15%;
  margin-top:5%;
  margin-bottom:5%;
}
.profile-title{
  margin-bottom: 2%;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 800px) {
  .profile-container {
    flex-direction: column; 
    align-items: center; 
  }
  .profile-title{
    margin-top: 10%;
  }
}